.model {
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	position: fixed;
	display: grid;
	place-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	color: #fff;
	opacity: 0;
	pointer-events: none;
	transition: opacity 300ms linear;
}

.model.active {
	opacity: 1;
	pointer-events: all;
}

.model-container {
	background-color: #0F0C2A;
	border-radius: 10px;
	width: 35%;
	overflow: hidden;
	transform: translateY(-100px);
	transition: transform 300ms linear;
}

.model-container.active {
	transform: translateY(0);
}

@media (max-width: 1300px) {
	.model-container {
		width: 45%;
	}
}

@media (max-width: 1000px) {
	.model-container {
		width: 60%;
	}
}


@media (max-width: 800px) {
	.model-container {
		width: 80%;
	}
}

@media (max-width: 500px) {
	.model-container {
		width: 90%;
	}
}