.home {
	display: flex;
	background-color: #654093;
	min-height: 100vh;
	justify-content: space-between;
	color: #000;
	background-image: url(../../assets/home-img-2.png);
	background-size: cover;
}

.home__left {
	width: 60%;
}

.home__right {
	width: 40%;
}

.home__left {
	padding: 30px;
}

.home__left__title {
	font-size: 140px;
	font-family: serif;
	letter-spacing: 10px;
  font-weight: bold;
  text-shadow: 0 1px 0 #633C8E, 0 2px 0 #633C8E,
                     0 3px 0 #633C8E, 0 4px 0 #633C8E,
                     0 5px 0 #633C8E, 0 6px 0 #633C8E,
                     0 7px 0 #633C8E, 0 8px 0 #633C8E,
                     0 9px 0 #633C8E, 0 10px 0 #633C8E,
                     0 11px 0 #633C8E, 0 12px 0 #633C8E,
                     0 20px 30px rgba(0, 0, 0, 0.5);
  color: #7F00FF;
  	opacity: 0;
	transform: translateY(30px);
	animation: home-title 2s ease forwards;
	animation-delay: 7s;
}

@keyframes home-title {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.home__left__p {
	width: 60%;
	/*font-family: serif;*/
	margin: 20px 0 0 0;
	font-size: 22px;
	letter-spacing: 1.2px;
	line-height: 40px;
	color: #fff;
	animation: home-title 2s ease forwards;
	opacity: 0;
	animation-delay: 7.2s;
}

.home__left__btn {
	margin: 30px 0 0 0 !important;
	width: 200px;
	height: 50px;
	opacity: 0;
	animation: home-title 2s ease forwards;
	animation-delay: 7.5s;
}

.home__right__bottom {
	margin: 30px 0 0 0;
}

.home__right {
	/*background: red;*/
}

.home__right__top {
	padding: 0 100px 0 0;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.collapsing-card {
	width: 400px;
	height: 400px;
	background: #302B63;
	display: grid;
	place-items: center;
	transform: rotate(45deg);
	opacity: 0;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.collapsing-card-child {
	width: 300px;
	height: 300px;
	background: #0F0C29;
	display: grid;
	place-items: center;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.collapsing-card-child-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transform: rotate(-45deg);
}

.home__right__top__imgContainer {
	transform: rotate(45deg) scale(0.1);
	animation: home-right-container 4s ease forwards;
	animation-delay: 8s;
}

.home__right__top__imgContainer__container {
	animation: collapsing-card-child-ani 2s ease forwards;
	animation-delay: 8s;
}

.home__right__top__imgContainer__container__img {
	animation: collapsing-card-child-img-ani 2s ease forwards;
	animation-delay: 8.2s;
}

@keyframes home-right-container {
	from {
		opacity: 0;
		transform: rotate(45deg) scale(0.1);
	}
	to {
		transform: rotate(0deg) scale(1);
		opacity: 1;
	}
}

/* collapsing card animations */

@keyframes collapsing-card-child-img-ani {
	from {
		transform: rotate(-45deg);
	}
	to {
		transform: rotate(-90deg);
	}
}

@keyframes collapsing-card-ani {
	from {
		transform: rotate(45deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@keyframes collapsing-card-child-ani {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(90deg);
	}
}

@media (max-width: 1100px) {
	.home {
		flex-direction: column;
	}

	.home__left {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.home__left__title {
		text-align: center;
		margin: 0 0 30px 0;
	}

	.home__left__p {
		text-align: center;
	}

	.home__right {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}

	.home__right__top {
		padding: 0;
	}
}

@media (max-width: 1000px) {
	.home__left__p {
		width: 70%;
	}
}

@media (max-width: 800px) {
	.home__left__p {
		width: 90%;
	}
}

@media (max-width: 700px) {
	.home__left__title {
		font-size: 120px;
	}
}

@media (max-width: 570px) {
	.home__left__title {
		font-size: 90px;
	}

	.home__right__top__imgContainer {
		width: 350px;
		height: 350px;
	}

	.home__right__top__imgContainer__container {
		width: 300px;
		height: 300px;
	}
}

@media (max-width: 470px) {
	.home__left__title {
		font-size: 70px;
	}

	.home__left__p {
		width: 99%;
	}
}

@media (max-width: 380px) {
	.home__right__top__imgContainer {
		width: 300px;
		height: 300px;
	}

	.home__right__top__imgContainer__container {
		width: 250px;
		height: 250px;
	}
}